# Summary Statistics

In [1]:
import pandas as pd
dogs_df = pd.read_csv("dogs.csv")
dogs_df

      name        breed  color  height_cm  weight_kg date_of_birth
0    Bella     Labrador  Brown         56         24    2013-07-01
1  Charlie       Poodle  Black         43         24    2016-09-16
2     Lucy    Chow Chow  Brown         46         24    2014-08-25
3   Cooper    Schnauzer   Gray         49         17    2011-12-11
4      Max     Labrador  Black         59         29    2017-01-20
5   Stella    Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St. Bernard  White         77         74    2018-02-27

In [2]:
dogs_df["height_cm"].mean()

np.float64(49.714285714285715)

## Summarizing Dates

In [5]:
print("The oldes dog born in " +str(dogs_df["date_of_birth"].min()))

The oldes dog born in 2011-12-11

In [6]:
print("The youngest dog born in " + str(dogs_df["date_of_birth"].max()))

The youngest dog born in 2018-02-27

In [8]:
print("The average dog's height is "+ str(dogs_df["height_cm"].mean()) + " cm")

The average dog's height is 49.714285714285715 cm

## The .agg() Method

In [9]:
def pct30(column):
    return column.quantile(0.3)
dogs_df['height_cm'].agg(pct30)

np.float64(45.4)

In [10]:
dogs_df['weight_kg'].agg(pct30)

np.float64(22.599999999999998)

In [11]:
print("The 30th quantile of the dogs height is " +str(dogs_df["height_cm"].agg(pct30)))

The 30th quantile of the dogs height is 45.4

## Summaries on multiple column

In [13]:
print("The following are summary statistics of the height and weight")
dogs_df[["height_cm", "weight_kg"]].agg(pct30)

The following are summary statistics of the height and weight

height_cm    45.4
weight_kg    22.6
dtype: float64

## Cummulative Sum

In [14]:
dogs_df["weight_kg"].cumsum()

0     24
1     48
2     72
3     89
4    118
5    120
6    194
Name: weight_kg, dtype: int64

In [15]:
dogs_df.head()

      name      breed  color  height_cm  weight_kg date_of_birth
0    Bella   Labrador  Brown         56         24    2013-07-01
1  Charlie     Poodle  Black         43         24    2016-09-16
2     Lucy  Chow Chow  Brown         46         24    2014-08-25
3   Cooper  Schnauzer   Gray         49         17    2011-12-11
4      Max   Labrador  Black         59         29    2017-01-20

## Counting

In [16]:
dogs_df['breed'].value_counts()

breed
Labrador       2
Poodle         1
Chow Chow      1
Schnauzer      1
Chihuahua      1
St. Bernard    1
Name: count, dtype: int64

In [17]:
dogs_df["weight_kg"].value_counts()

weight_kg
24    3
17    1
29    1
2     1
74    1
Name: count, dtype: int64

## Dropping duplicate pairs

In [18]:
unique_breed = dogs_df.drop_duplicates(subset='breed')

In [19]:
unique_breed

      name        breed  color  height_cm  weight_kg date_of_birth
0    Bella     Labrador  Brown         56         24    2013-07-01
1  Charlie       Poodle  Black         43         24    2016-09-16
2     Lucy    Chow Chow  Brown         46         24    2014-08-25
3   Cooper    Schnauzer   Gray         49         17    2011-12-11
5   Stella    Chihuahua    Tan         18          2    2015-04-20
6   Bernie  St. Bernard  White         77         74    2018-02-27

In [20]:
unique_breed['breed'].value_counts(normalize=True)

breed
Labrador       0.166667
Poodle         0.166667
Chow Chow      0.166667
Schnauzer      0.166667
Chihuahua      0.166667
St. Bernard    0.166667
Name: proportion, dtype: float64

In [21]:
dogs_df["breed"].value_counts(normalize=True)

breed
Labrador       0.285714
Poodle         0.142857
Chow Chow      0.142857
Schnauzer      0.142857
Chihuahua      0.142857
St. Bernard    0.142857
Name: proportion, dtype: float64

In [23]:
dogs_df.groupby("breed")['weight_kg'].mean()

breed
Chihuahua       2.0
Chow Chow      24.0
Labrador       26.5
Poodle         24.0
Schnauzer      17.0
St. Bernard    74.0
Name: weight_kg, dtype: float64

In [24]:
dogs_df.groupby("breed")[["height_cm", "weight_kg"]].mean()

             height_cm  weight_kg
breed
Chihuahua         18.0        2.0
Chow Chow         46.0       24.0
Labrador          57.5       26.5
Poodle            43.0       24.0
Schnauzer         49.0       17.0
St. Bernard       77.0       74.0

In [26]:
import numpy as np
dogs_df.groupby(["color", "breed"])[["height_cm", "weight_kg"]].agg([np.mean, np.median])

C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\363082508.py:2: FutureWarning: The provided callable <function mean at 0x000002478D547060> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs_df.groupby(["color", "breed"])[["height_cm", "weight_kg"]].agg([np.mean, np.median])
C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\363082508.py:2: FutureWarning: The provided callable <function median at 0x000002478F6902C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs_df.groupby(["color", "breed"])[["height_cm", "weight_kg"]].agg([np.mean, np.median])
C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\363082508.py:2: FutureWarning: The provided callable <function mean at 0x000002478D547060> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs_df.groupby(["color", "breed"])[["height_cm", "weight_kg"]].agg([np.mean, np.median])

                  height_cm        weight_kg
                       mean median      mean median
color breed
Black Labrador         59.0   59.0      29.0   29.0
      Poodle           43.0   43.0      24.0   24.0
Brown Chow Chow        46.0   46.0      24.0   24.0
      Labrador         56.0   56.0      24.0   24.0
Gray  Schnauzer        49.0   49.0      17.0   17.0
Tan   Chihuahua        18.0   18.0       2.0    2.0
White St. Bernard      77.0   77.0      74.0   74.0

## PIVOT TABLES

In [27]:
dogs_df.pivot_table(values='weight_kg', index= 'color')

       weight_kg
color
Black       26.5
Brown       24.0
Gray        17.0
Tan          2.0
White       74.0

In [28]:
dogs_df.pivot_table(values=["weight_kg", "height_cm"], index='breed')

             height_cm  weight_kg
breed
Chihuahua         18.0        2.0
Chow Chow         46.0       24.0
Labrador          57.5       26.5
Poodle            43.0       24.0
Schnauzer         49.0       17.0
St. Bernard       77.0       74.0

In [29]:
dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', aggfunc=[np.mean, np.median, np.std])

C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\4499590.py:1: FutureWarning: The provided callable <function mean at 0x000002478D547060> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', aggfunc=[np.mean, np.median, np.std])
C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\4499590.py:1: FutureWarning: The provided callable <function median at 0x000002478F6902C0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', aggfunc=[np.mean, np.median, np.std])
C:\Users\Danhaya\AppData\Local\Temp\ipykernel_10456\4499590.py:1: FutureWarning: The provided callable <function std at 0x000002478D5471A0> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', aggfunc=[np.mean, np.median, np.std])

                 mean              median                 std
            height_cm weight_kg height_cm weight_kg height_cm weight_kg
breed
Chihuahua        18.0       2.0      18.0       2.0       NaN       NaN
Chow Chow        46.0      24.0      46.0      24.0       NaN       NaN
Labrador         57.5      26.5      57.5      26.5   2.12132  3.535534
Poodle           43.0      24.0      43.0      24.0       NaN       NaN
Schnauzer        49.0      17.0      49.0      17.0       NaN       NaN
St. Bernard      77.0      74.0      77.0      74.0       NaN       NaN

In [30]:
dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed')

             height_cm  weight_kg
breed
Chihuahua         18.0        2.0
Chow Chow         46.0       24.0
Labrador          57.5       26.5
Poodle            43.0       24.0
Schnauzer         49.0       17.0
St. Bernard       77.0       74.0

In [31]:
dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', columns= "color")

            height_cm                         weight_kg
color           Black Brown  Gray   Tan White     Black Brown  Gray  Tan White
breed
Chihuahua         NaN   NaN   NaN  18.0   NaN       NaN   NaN   NaN  2.0   NaN
Chow Chow         NaN  46.0   NaN   NaN   NaN       NaN  24.0   NaN  NaN   NaN
Labrador         59.0  56.0   NaN   NaN   NaN      29.0  24.0   NaN  NaN   NaN
Poodle           43.0   NaN   NaN   NaN   NaN      24.0   NaN   NaN  NaN   NaN
Schnauzer         NaN   NaN  49.0   NaN   NaN       NaN   NaN  17.0  NaN   NaN
St. Bernard       NaN   NaN   NaN   NaN  77.0       NaN   NaN   NaN  NaN  74.0

In [32]:
dogs_df.pivot_table(values=["height_cm", "weight_kg"], index='breed', columns= "color", fill_value=0, margins=True)

            height_cm                                    weight_kg        \
color           Black Brown  Gray   Tan White        All     Black Brown
breed
Chihuahua         0.0   0.0   0.0  18.0   0.0  18.000000       0.0   0.0
Chow Chow         0.0  46.0   0.0   0.0   0.0  46.000000       0.0  24.0
Labrador         59.0  56.0   0.0   0.0   0.0  57.500000      29.0  24.0
Poodle           43.0   0.0   0.0   0.0   0.0  43.000000      24.0   0.0
Schnauzer         0.0   0.0  49.0   0.0   0.0  49.000000       0.0   0.0
St. Bernard       0.0   0.0   0.0   0.0  77.0  77.000000       0.0   0.0
All              51.0  51.0  49.0  18.0  77.0  49.714286      26.5  24.0


color        Gray  Tan White        All
breed
Chihuahua     0.0  2.0   0.0   2.000000
Chow Chow     0.0  0.0   0.0  24.000000
Labrador      0.0  0.0   0.0  26.500000
Poodle        0.0  0.0   0.0  24.000000
Schnauzer    17.0  0.0   0.0  17.000000
St. Bernard   0.0  0.0  74.0  74.000000
All          17.0  2.0  74.0  27.714286

# THE END