# Dictionaries and Pandas
_This is my file for dictionary and pandas practice_

## Dictionaries

Assumming you have two lists; population and countries

In [1]:
pop = [30.55, 2.77, 39.21]
countries =['afghanistan', 'albania', 'algeria']
in_alb = countries.index('albania')
print(f"The population of Albania is {pop[in_alb]}")

The population of Albania is 2.77

you can make everything simple and efficient with dictionaries

In [2]:
world = {
    'afghanistan': 30.55,
    'albania': 2.77,
    'algeria': 39.21
}
print(f"The population of Algeria is {world['algeria']}")

The population of Algeria is 39.21

In [3]:
world['sealand'] = 0.000027
print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21, 'sealand': 2.7e-05}

In [4]:
"sealand" in world

True

In [5]:
del world['sealand']

In [6]:
print(world)

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

## Pandas

### DataFrame from Dictionary

In [7]:
my_dict = {
    'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
    'capital': ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'pretoria'],
    'area': [8.516, 17.10, 3.286, 9.597, 1.221],
    'population': [200.4, 143.5, 1252, 1357, 52.98]
}

In [8]:
import pandas as pd
brics = pd.DataFrame(my_dict)

In [9]:
brics

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   pretoria   1.221       52.98

In [10]:
brics.index = ['BR', 'RU', 'IN', 'CH', 'SA']

In [11]:
brics

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   pretoria   1.221       52.98

In [14]:
bric = pd.read_csv("brics.csv")

In [15]:
bric

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brazilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [16]:
bric = pd.read_csv("brics.csv", index_col=0)
print(bric)

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### Index and select data

#### Column Access

In [17]:
bric['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [18]:
type(bric['country'])

pandas.core.series.Series

In [19]:
bric[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [20]:
type(bric[['country']])

pandas.core.frame.DataFrame

In [21]:
bric[['country', 'capital']]

         country    capital
BR        Brazil   Brazilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [23]:
type(bric[['country', 'capital']])

pandas.core.frame.DataFrame

In [24]:
bric[['country', 'area', 'population']]

         country    area  population
BR        Brazil   8.516      200.40
RU        Russia  17.100      143.50
IN         India   3.286     1252.00
CH         China   9.597     1357.00
SA  South Africa   1.221       52.98

#### Row Access

In [25]:
bric[:]

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [26]:
bric[0:1]

   country   capital   area  population
BR  Brazil  Brazilia  8.516       200.4

In [27]:
bric[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [28]:
bric.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [30]:
type(bric.loc['RU'])

pandas.core.series.Series

In [31]:
bric.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [32]:
type(bric.loc[['RU']])

pandas.core.frame.DataFrame

#### Row Access loc

In [33]:
bric.loc[['RU', 'IN', 'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [34]:
bric.loc[['SA', 'RU', 'IN'], ['country', 'population']]

         country  population
SA  South Africa       52.98
RU        Russia      143.50
IN         India     1252.00

In [36]:
bric.loc[:, ['capital']]

      capital
BR   Brazilia
RU     Moscow
IN  New Delhi
CH    Beijing
SA   Pretoria

In [37]:
type(bric.loc[:, ['capital']])

pandas.core.frame.DataFrame

In [38]:
bric.loc[:, 'capital']

BR     Brazilia
RU       Moscow
IN    New Delhi
CH      Beijing
SA     Pretoria
Name: capital, dtype: object

#### Row Access iloc

In [39]:
bric.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [40]:
bric.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [41]:
bric.loc[['RU', 'IN', 'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [42]:
bric.iloc[[1, 2, 3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [43]:
bric.iloc[[0,3], [1,3]]

     capital  population
BR  Brazilia       200.4
CH   Beijing      1357.0

# THE END