## LOOPING

## WHILE LOOP

In [21]:
error = 50
while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

## FOR LOOP

In [22]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam:
    print(height)

1.73
1.68
1.71
1.89

In [23]:
for index, height in enumerate(fam):
    print("index " + str(index) + ": " + str(height))

index 0: 1.73
index 1: 1.68
index 2: 1.71
index 3: 1.89

In [24]:
for c in "family":
    print(c.capitalize())

F
A
M
I
L
Y

## Looping through a dictionaries

In [25]:
world = {"afghanistan": 30.55,
         "albania": 2.77,
         "algeria": 39.21}
for key, value in world.items():
    print(key.title() + " has " + str(value) +" million population.")

Afghanistan has 30.55 million population.
Albania has 2.77 million population.
Algeria has 39.21 million population.

## looping through NumPy Arrays

In [26]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight/ np_height**2
for value in bmi:
    print(value)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

## 2D NumPy Arrays

In [27]:
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
meas = np.array([np_height, np_weight])
for value in np.nditer(meas):
    print(value)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

## looping through Panda DataFrame

### iterrows

In [28]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col= 0)
brics

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [29]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col= 0)

for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brazilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [30]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col= 0)
for lab, row in brics.iterrows():
    print("The capital of " + row['country'] + " is " + row['capital'])

The capital of Brazil is Brazilia
The capital of Russia is Moscow
The capital of India is New Delhi
The capital of China is Beijing
The capital of South Africa is Pretoria

In [31]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col= 0)
for lab, row in brics.iterrows():
    print("The capital of " + lab + " is " + row['capital'])

The capital of BR is Brazilia
The capital of RU is Moscow
The capital of IN is New Delhi
The capital of CH is Beijing
The capital of SA is Pretoria

## Apply

### add column named name_length

In [32]:
brics['name_length'] = brics['country'].apply(len)

In [33]:
brics

         country    capital    area  population  name_length
BR        Brazil   Brazilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

# THE END