# WORKING WITH NUMERIC DATA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


life_expentancy = pd.read_csv(r"c:/users/danhaya/arewads/arewads-fellowship/life_expectancy.csv")
print(life_expentancy.head())

           Country Name Country Code                      Region  \
0           Afghanistan          AFG                  South Asia
1                Angola          AGO          Sub-Saharan Africa
2               Albania          ALB       Europe & Central Asia
3               Andorra          AND       Europe & Central Asia
4  United Arab Emirates          ARE  Middle East & North Africa

           IncomeGroup  Year  Life Expectancy World Bank  \
0           Low income  2001                      56.308
1  Lower middle income  2001                      47.059
2  Upper middle income  2001                      74.288
3          High income  2001                         NaN
4          High income  2001                      74.544

   Prevelance of Undernourishment      CO2  Health Expenditure %  \
0                            47.8    730.0                   NaN
1                            67.5  15960.0              4.483516
2                             4.9   3230.0              7.139524
3                             NaN    520.0              5.865939
4                             2.8  97200.0              2.484370

   Education Expenditure %  Unemployment  Corruption  Sanitation    Injuries  \
0                      NaN     10.809000         NaN         NaN  2179727.10
1                      NaN      4.004000         NaN         NaN  1392080.71
2                   3.4587     18.575001         NaN   40.520895   117081.67
3                      NaN           NaN         NaN   21.788660     1697.99
4                      NaN      2.493000         NaN         NaN   144678.14

   Communicable  NonCommunicable
0    9689193.70       5795426.38
1   11190210.53       2663516.34
2     140894.78        532324.75
3        695.56         13636.64
4      65271.91        481740.70

In [2]:
print(life_expentancy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3306 entries, 0 to 3305
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country Name                    3306 non-null   object
 1   Country Code                    3306 non-null   object
 2   Region                          3306 non-null   object
 3   IncomeGroup                     3306 non-null   object
 4   Year                            3306 non-null   int64
 5   Life Expectancy World Bank      3118 non-null   float64
 6   Prevelance of Undernourishment  2622 non-null   float64
 7   CO2                             3154 non-null   float64
 8   Health Expenditure %            3126 non-null   float64
 9   Education Expenditure %         2216 non-null   float64
 10  Unemployment                    3002 non-null   float64
 11  Corruption                      975 non-null    float64
 12  Sanitation                      2059 non-null   float64
 13  Injuries                        3306 non-null   float64
 14  Communicable                    3306 non-null   float64
 15  NonCommunicable                 3306 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 413.4+ KB
None

In [3]:
threshold = len(life_expentancy)*0.05

col_to_drop = life_expentancy.columns[life_expentancy.isna().sum() <= threshold]
life_expentancy.dropna(subset=col_to_drop, inplace=True)

In [4]:
life_expentancy.isna().sum()

Country Name                         0
Country Code                         0
Region                               0
IncomeGroup                          0
Year                                 0
Life Expectancy World Bank         112
Prevelance of Undernourishment     532
CO2                                  0
Health Expenditure %                66
Education Expenditure %            968
Unemployment                       190
Corruption                        2179
Sanitation                        1171
Injuries                             0
Communicable                         0
NonCommunicable                      0
dtype: int64

In [5]:
cols_with_missing_value = life_expentancy.columns[life_expentancy.isna().sum() > 0]
print(cols_with_missing_value)

Index(['Life Expectancy World Bank', 'Prevelance of Undernourishment',
       'Health Expenditure %', 'Education Expenditure %', 'Unemployment',
       'Corruption', 'Sanitation'],
      dtype='object')

In [7]:
for col in cols_with_missing_value:
    life_expentancy[col].fillna(life_expentancy[col].median())

print(life_expentancy.isna().sum())

Country Name                         0
Country Code                         0
Region                               0
IncomeGroup                          0
Year                                 0
Life Expectancy World Bank         112
Prevelance of Undernourishment     532
CO2                                  0
Health Expenditure %                66
Education Expenditure %            968
Unemployment                       190
Corruption                        2179
Sanitation                        1171
Injuries                             0
Communicable                         0
NonCommunicable                      0
dtype: int64

In [9]:
missing_col_dict = life_expentancy.groupby('Region')[['Corruption', 'Sanitation', 'Unemployment', 'Education Expenditure %', 'Health Expenditure %', 'Prevelance of Undernourishment', 'Life Expectancy World Bank']].median().to_dict()
life_expentancy[['Corruption', 'Sanitation', 'Unemployment', 'Education Expenditure %', 'Health Expenditure %', 'Prevelance of Undernourishment', 'Life Expectancy World Bank']] = life_expentancy[['Corruption', 'Sanitation', 'Unemployment', 'Education Expenditure %', 'Health Expenditure %', 'Prevelance of Undernourishment', 'Life Expectancy World Bank']].fillna(life_expentancy['Region'].map(missing_col_dict))

In [10]:
print(life_expentancy.isna().sum())

Country Name                         0
Country Code                         0
Region                               0
IncomeGroup                          0
Year                                 0
Life Expectancy World Bank         112
Prevelance of Undernourishment     532
CO2                                  0
Health Expenditure %                66
Education Expenditure %            968
Unemployment                       190
Corruption                        2179
Sanitation                        1171
Injuries                             0
Communicable                         0
NonCommunicable                      0
dtype: int64

In [ ]:
print()