# INTRODUCTION TO ITERATORS

In [1]:
employees = ['umar', 'abubakar', 'sani', 'mikel']
for employee in employees:
    print(employee)

umar
abubakar
sani
mikel

In [2]:
for letter in 'DATACAMP':
    print(letter)

D
A
T
A
C
A
M
P

*iterable: list, strings, dictionaries and file connections.*

In [7]:
word = 'DA'
it = iter(word)
print(it)

<str_ascii_iterator object at 0x0000018D77D52950>

In [8]:
print(next(it))
print(next(it))

D
A

In [9]:
word = 'DATA'
it = iter(word)
print(*it)

D A T A

## Iterating over a dictionaries

In [11]:
pythonistas ={
    'hugo': 'bowne-anderson',
    'francis': 'castro'
}

for key, value in pythonistas.items():
    print(key.upper(), value.upper())

HUGO BOWNE-ANDERSON
FRANCIS CASTRO