# PLAYING WITH ITERATORS

## Using enumerate()

In [1]:
avengers =['hawkeye', 'iron-man', 'thor', 'quicksilver']
e = enumerate(avengers)
print(type(e))

<class 'enumerate'>

In [2]:
e_list = list(e)
print(e_list)

[(0, 'hawkeye'), (1, 'iron-man'), (2, 'thor'), (3, 'quicksilver')]

_looping over enumerate_

In [3]:
for index, value in enumerate(avengers):
    print(index, value)

0 hawkeye
1 iron-man
2 thor
3 quicksilver

**You can alter start index instead of using default which is zero**

In [4]:
family =['baffa', "sa'ad", 'nura', 'yusuf']
for index, fam in enumerate(family, start=1):
    print(index, fam)

1 baffa
2 sa'ad
3 nura
4 yusuf

## Using zip()

In [5]:
avengers = ['hawkeye', 'iron man', 'thor', 'spider man', 'quicksilver']
names = ['barton', 'stark', 'odison', 'mikel', 'maximof']
z = zip(avengers, names)
print(z)

<zip object at 0x000001E3AA542540>

In [6]:
z_list = list(z)
print(z_list)

[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odison'), ('spider man', 'mikel'), ('quicksilver', 'maximof')]

_zip is an iterator of tuples_

In [8]:
clubs =['madrid', 'barca', 'man u', 'arsenal', 'munich']
stars =['mbappe', 'lamine', 'bruno', 'jesus', 'muller']
for item1, item2 in zip(clubs, stars):
    print(item1, item2)

madrid mbappe
barca lamine
man u bruno
arsenal jesus
munich muller

In [9]:
z = zip(clubs, stars)
print(*(list(z)))

('madrid', 'mbappe') ('barca', 'lamine') ('man u', 'bruno') ('arsenal', 'jesus') ('munich', 'muller')

## Using iterators to load large files into memory loading data in chunks

### Iterating over data

In [11]:
import pandas as pd

continent =[]
for chunk in pd.read_csv(r'c:/users/danhaya/arewads/world-population-dynamics/data/processed_data/processed_data.csv', chunksize=1000):
    continent.append(chunk['Continent'].unique())
print(continent)

[array(['Asia', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)]