# CLEANING DATA IN PYTHON

# Constraints

In [2]:
import pandas as pd

data = pd.read_csv(r"c:/users/danhaya/arewads/arewads-fellowship/life_expectancy.csv")
print(data.iloc[1])

Country Name                                   Angola
Country Code                                      AGO
Region                             Sub-Saharan Africa
IncomeGroup                       Lower middle income
Year                                             2001
Life Expectancy World Bank                     47.059
Prevelance of Undernourishment                   67.5
CO2                                           15960.0
Health Expenditure %                         4.483516
Education Expenditure %                           NaN
Unemployment                                    4.004
Corruption                                        NaN
Sanitation                                        NaN
Injuries                                   1392080.71
Communicable                              11190210.53
NonCommunicable                            2663516.34
Name: 1, dtype: object

In [2]:
print(data.dtypes)

Country Name                       object
Country Code                       object
Region                             object
IncomeGroup                        object
Year                                int64
Life Expectancy World Bank        float64
Prevelance of Undernourishment    float64
CO2                               float64
Health Expenditure %              float64
Education Expenditure %           float64
Unemployment                      float64
Corruption                        float64
Sanitation                        float64
Injuries                          float64
Communicable                      float64
NonCommunicable                   float64
dtype: object

In [3]:
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_')
print(data.columns)

Index(['country_name', 'country_code', 'region', 'incomegroup', 'year',
       'life_expectancy_world_bank', 'prevelance_of_undernourishment', 'co2',
       'health_expenditure_%', 'education_expenditure_%', 'unemployment',
       'corruption', 'sanitation', 'injuries', 'communicable',
       'noncommunicable'],
      dtype='object')

In [11]:
cat_columns =['country_name', 'country_code', 'region', 'incomegroup']
data[cat_columns] = data[cat_columns].astype('category')

print(data.select_dtypes('category').head())

           country_name country_code                      region  \
0           Afghanistan          AFG                  South Asia
1                Angola          AGO          Sub-Saharan Africa
2               Albania          ALB       Europe & Central Asia
3               Andorra          AND       Europe & Central Asia
4  United Arab Emirates          ARE  Middle East & North Africa

           incomegroup
0           Low income
1  Lower middle income
2  Upper middle income
3          High income
4          High income

# Data type constraints

In [7]:
print(data.head(10))

           country_name country_code                      region  \
0           Afghanistan          AFG                  South Asia
1                Angola          AGO          Sub-Saharan Africa
2               Albania          ALB       Europe & Central Asia
3               Andorra          AND       Europe & Central Asia
4  United Arab Emirates          ARE  Middle East & North Africa
5             Argentina          ARG   Latin America & Caribbean
6               Armenia          ARM       Europe & Central Asia
7        American Samoa          ASM         East Asia & Pacific
8   Antigua and Barbuda          ATG   Latin America & Caribbean
9             Australia          AUS         East Asia & Pacific

           incomegroup  year  life_expectancy_world_bank  \
0           Low income  2001                   56.308000
1  Lower middle income  2001                   47.059000
2  Upper middle income  2001                   74.288000
3          High income  2001                         NaN
4          High income  2001                   74.544000
5  Upper middle income  2001                   73.755000
6  Upper middle income  2001                   71.800000
7  Upper middle income  2001                         NaN
8          High income  2001                   74.171000
9          High income  2001                   79.634146

   prevelance_of_undernourishment       co2  health_expenditure_%  \
0                            47.8     730.0                   NaN
1                            67.5   15960.0              4.483516
2                             4.9    3230.0              7.139524
3                             NaN     520.0              5.865939
4                             2.8   97200.0              2.484370
5                             3.0  125260.0              8.371798
6                            26.1    3600.0              4.645627
7                             NaN       NaN                   NaN
8                             NaN     350.0              5.435876
9                             2.5  345640.0              7.696229

   education_expenditure_%  unemployment  corruption  sanitation    injuries  \
0                      NaN     10.809000         NaN         NaN  2179727.10
1                      NaN      4.004000         NaN         NaN  1392080.71
2                  3.45870     18.575001         NaN   40.520895   117081.67
3                      NaN           NaN         NaN   21.788660     1697.99
4                      NaN      2.493000         NaN         NaN   144678.14
5                  4.83374     17.320000         NaN   48.053996  1397676.07
6                  2.46944     10.912000         NaN   46.351896   103371.75
7                      NaN           NaN         NaN         NaN     1683.98
8                      NaN           NaN         NaN         NaN     2201.12
9                      NaN      6.740000         NaN   58.788894   612233.81

   communicable  noncommunicable
0    9689193.70       5795426.38
1   11190210.53       2663516.34
2     140894.78        532324.75
3        695.56         13636.64
4      65271.91        481740.70
5    1507068.98       8070909.52
6     122238.13        767916.19
7       2933.98         10752.13
8       3279.72         14289.69
9     208282.73       4158052.86

In [4]:
data['year'].dtype

dtype('int64')

In [8]:
data['year'] = pd.to_datetime(data['year']).dt.year

data['year'].dtype

dtype('int32')

In [9]:
data['incomegroup'].unique()

array(['Low income', 'Lower middle income', 'Upper middle income',
       'High income'], dtype=object)

In [14]:
data['incomegroup'].dtype

CategoricalDtype(categories=['High income', 'Low income', 'Lower middle income',
                  'Upper middle income'],
, ordered=False, categories_dtype=object)

In [25]:
data['incomegroup'] = data['incomegroup'].astype("category")

map_column = {
    'Low income' : 'Low',
    'Low middle income': 'Low',
    'Lower middle income': 'Low',
    'Upper middle income': 'Upper',
    'High income': 'Upper'
}

data['incomegroup'] = data['incomegroup'].replace(map_column)
print(data.value_counts('incomegroup'))

incomegroup
Upper    2014
Low      1292
Name: count, dtype: int64

In [26]:
g = data['incomegroup'].value_counts()
my_dict = g.to_dict()
print(my_dict)

{'Upper': 2014, 'Low': 1292}

In [28]:
order_columns = ['Low', 'Upper']

data['incomegroup'] = data['incomegroup'].cat.reorder_categories(order_columns, ordered=True)
print(data['incomegroup'].value_counts())

incomegroup
Upper    2014
Low      1292
Name: count, dtype: int64