# Categorical Data in Python

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

 
life_expectancy =  pd.read_csv(r"c:/users/danhaya/arewads/arewads-fellowship/life_expectancy.csv")
print(life_expectancy.head())

           Country Name Country Code                      Region  \
0           Afghanistan          AFG                  South Asia
1                Angola          AGO          Sub-Saharan Africa
2               Albania          ALB       Europe & Central Asia
3               Andorra          AND       Europe & Central Asia
4  United Arab Emirates          ARE  Middle East & North Africa

           IncomeGroup  Year  Life Expectancy World Bank  \
0           Low income  2001                      56.308
1  Lower middle income  2001                      47.059
2  Upper middle income  2001                      74.288
3          High income  2001                         NaN
4          High income  2001                      74.544

   Prevelance of Undernourishment      CO2  Health Expenditure %  \
0                            47.8    730.0                   NaN
1                            67.5  15960.0              4.483516
2                             4.9   3230.0              7.139524
3                             NaN    520.0              5.865939
4                             2.8  97200.0              2.484370

   Education Expenditure %  Unemployment  Corruption  Sanitation    Injuries  \
0                      NaN     10.809000         NaN         NaN  2179727.10
1                      NaN      4.004000         NaN         NaN  1392080.71
2                   3.4587     18.575001         NaN   40.520895   117081.67
3                      NaN           NaN         NaN   21.788660     1697.99
4                      NaN      2.493000         NaN         NaN   144678.14

   Communicable  NonCommunicable
0    9689193.70       5795426.38
1   11190210.53       2663516.34
2     140894.78        532324.75
3        695.56         13636.64
4      65271.91        481740.70

In [3]:
life_expectancy.columns = life_expectancy.columns.map(lambda c: c.lower())
print(life_expectancy.columns)

Index(['country name', 'country code', 'region', 'incomegroup', 'year',
       'life expectancy world bank', 'prevelance of undernourishment', 'co2',
       'health expenditure %', 'education expenditure %', 'unemployment',
       'corruption', 'sanitation', 'injuries', 'communicable',
       'noncommunicable'],
      dtype='object')

In [4]:
life_expectancy.describe()

,year,life expectancy world bank,prevelance of undernourishment,co2,health expenditure %,education expenditure %,unemployment,corruption,sanitation,injuries,communicable,noncommunicable
count,3306.000000,3118.000000,2622.000000,3.154000e+03,3126.000000,2216.000000,3002.000000,975.000000,2059.000000,3.306000e+03,3.306000e+03,3.306000e+03
mean,2010.000000,69.748362,10.663654,1.574924e+05,6.364059,4.589014,7.890760,2.860513,52.738785,1.318219e+06,4.686289e+06,7.392488e+06
std,5.478054,9.408154,11.285897,7.726415e+05,2.842844,2.119165,6.270832,0.621343,30.126762,5.214068e+06,1.843727e+07,2.932688e+07
min,2001.000000,40.369000,2.500000,1.000000e+01,1.263576,0.850320,0.100000,1.000000,2.377647,4.304900e+02,3.301600e+02,2.481820e+03
25%,2005.000000,63.642000,2.500000,2.002500e+03,4.205443,3.136118,3.733000,2.500000,24.746007,6.245688e+04,5.776475e+04,3.184758e+05
50%,2010.000000,72.168500,6.200000,1.020500e+04,5.892352,4.371465,5.920000,3.000000,49.317481,2.456910e+05,3.147693e+05,1.350146e+06
75%,2015.000000,76.809000,14.775000,5.877250e+04,8.119166,5.519825,10.097500,3.250000,80.278847,8.465591e+05,2.831636e+06,3.918468e+06
max,2019.000000,84.356341,70.900000,1.070722e+07,24.230680,23.270000,37.250000,4.500000,100.000004,5.563676e+07,2.685646e+08,3.246378e+08

In [5]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3306 entries, 0 to 3305
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country name                    3306 non-null   object
 1   country code                    3306 non-null   object
 2   region                          3306 non-null   object
 3   incomegroup                     3306 non-null   object
 4   year                            3306 non-null   int64
 5   life expectancy world bank      3118 non-null   float64
 6   prevelance of undernourishment  2622 non-null   float64
 7   co2                             3154 non-null   float64
 8   health expenditure %            3126 non-null   float64
 9   education expenditure %         2216 non-null   float64
 10  unemployment                    3002 non-null   float64
 11  corruption                      975 non-null    float64
 12  sanitation                      2059 non-null   float64
 13  injuries                        3306 non-null   float64
 14  communicable                    3306 non-null   float64
 15  noncommunicable                 3306 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 413.4+ KB

In [ ]:
threshold = len(life_expectancy)*0.05
col_to_drop = life_expectancy