# UTC OFFSETS

In [3]:
from datetime import datetime, timedelta, timezone

ET = timezone(timedelta(hours = 5))
dt = datetime(2017, 12, 30, 15, 9, 3, tzinfo=ET)

print(dt.isoformat())
print(dt)

2017-12-30T15:09:03+05:00
2017-12-30 15:09:03+05:00

# Adjusting timezone vs changing tzinfo

In [4]:
IST = timezone(timedelta(hours = 5, minutes= 30))

dt = datetime(2017, 12, 10, 17, 25, 23, tzinfo=IST)
print(dt.isoformat())

2017-12-10T17:25:23+05:30

In [5]:
print(dt.replace(tzinfo=timezone.utc))

2017-12-10 17:25:23+00:00

# Timezone database

In [6]:
from datetime import datetime
from dateutil import tz

#Eastern time
et = tz.gettz('America/New_York')

last_ride = datetime(2017, 12, 30, 15, 9, 3, tzinfo=et)
print(last_ride.isoformat())

2017-12-30T15:09:03-05:00

In [7]:
lon_time = tz.gettz('Europe/London')

start = datetime(2015, 4, 12, 17, 31, 45, tzinfo=lon_time)
print(start.isoformat())

2015-04-12T17:31:45+01:00

# STARTING DAYLIGHT SAVING TIME

In [8]:
from datetime import timezone, timedelta

EST = timezone(timedelta(hours = -5))
EDT = timezone(timedelta(hours = -4))

spring_ahead_159 = datetime(2017, 3, 12, 1, 59, 59, tzinfo=EST)
spring_ahead_3am = datetime(2017, 3, 12, 3, 0, 0, tzinfo=EDT)

print(spring_ahead_3am - spring_ahead_159)

0:00:01