# IMPORTING DATA IN PYTHON

## Importing Excel files

In [2]:
import pandas as pd

data = pd.ExcelFile(r"c:/users/danhaya/arewads/arewads-fellowship/dataset_database.xlsx")
print(data.sheet_names)

['Sheet1']

In [3]:
df = data.parse(0)
print(df.head())

     subject collision
0  00001.jpg         n
1  00002.jpg         n
2  00003.jpg         n
3  00004.jpg         n
4  00005.jpg         n

In [4]:
print(df[df['collision'] == 'y'])

        subject collision
10    00011.jpg         y
15    00016.jpg         y
19    00020.jpg         y
21    00022.jpg         y
47    00048.jpg         y
...         ...       ...
9987  09988.jpg         y
9988  09989.jpg         y
9992  09993.jpg         y
9993  09994.jpg         y
9998  09999.jpg         y

[1993 rows x 2 columns]

## importing Text file

In [5]:
filename = 'family.txt'
with open(filename, 'r') as file:
    print(file.read())

family members
1. Baffa Danhaya
2. Nura Danhaya
3. Sa'ad Danhaya
4. Yusuf Danhaya
5. Abubakar Danhaya

In [6]:
file = open(filename, 'r')
text = file.read()
print(text)
file.close()

family members
1. Baffa Danhaya
2. Nura Danhaya
3. Sa'ad Danhaya
4. Yusuf Danhaya
5. Abubakar Danhaya

## Importing SAS Files

In [10]:
df_stata = pd.read_stata(r"c:/users/danhaya/arewads/arewads-fellowship/democracy-balanced-l4.dta")
print(df_stata.head())

  country_name wbcode    year   id  dem      lgdp
0       Angola    AGO  1987.0  3.0  0.0  6.730205
1       Angola    AGO  1988.0  3.0  0.0  6.760224
2       Angola    AGO  1989.0  3.0  0.0  6.738738
3       Angola    AGO  1990.0  3.0  0.0  6.708020
4       Angola    AGO  1991.0  3.0  0.0  6.665598

In [13]:
data_df = pd.read_sas(r"c:/users/danhaya/arewads/arewads-fellowship/gnp.sas7bdat")
print(data_df.head())

        DATE    GNP  CONSUMP  INVEST  EXPORTS   GOVT
0 1960-01-01  516.1    325.5    88.7      4.3   97.6
1 1960-04-01  514.5    331.6    78.1      5.1   99.6
2 1960-07-01  517.7    331.7    77.4      6.5  102.1
3 1960-10-01  513.0    333.8    68.5      7.7  103.0
4 1961-01-01  517.4    334.4    69.5      8.3  105.3